@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.card-container {
    height: 100vh;
    background: #D9D9D9;
    position: fixed;
    right: 0;
    top: 0;
    width: 38%;

    .shoppingcard {

        position: relative;
        top:7rem;
        left: 7%;

        
        .addtocardTitle,
        .title {
            font-family: "Noto Serif", serif;
            font-size: 18px;
            font-weight: 500;
            color: #131414;



        }

        .productDetails {
            margin-bottom: 1rem;

            .title {
                margin-bottom: 0;

            }

            .metadata {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                color: #4F4733;


                span {
                    font-weight:400 ;
                }
            }

            .price {
                padding-top: 0.4rem;
                font-size: 14px;
                font-weight: 400;
                color: #5A112B;



            }

            button {
                background: #3F3737;
                color: #ffff;
                border: none;
                padding: 3px 8px;
                font-weight: 700;
            }
        }
    }

}